.appBar {
  position: static;
  background-color: rgb(220, 20, 50);
  width: 100%;
}
.appBarBox{
  position: fixed;
  z-index: 1;
  width: 100%;
}

body {
  background-color: rgb(223, 239, 255);
  width: 100%;
}

.indexGrid {
  padding: 7% 5% 3% 5%;
  justify-content: space-between;
}

.tileHead {
  padding: 15px;
}

menuitem {
  text-align: center;
}

.item1 {
  width: 65%;
}

.item2 {
  width: 30%;
}

.item3 {
  width: 30%;
  padding-top: 5%;
}

.item4 {
  padding-top: 5%;
  width: 65%;
}

.item5 {
  padding-top: 5%;
  width: 60%;
}
.toolsTile{
  display: flex;
  justify-content: center;
}
.tools {
  display: flex;
  padding: 0 5% 5% 5%;
  /* padding: 100px 50px 50px 50px; */
  /* padding-left: 5%;
  padding-right: 5%; */
  justify-content: space-between;
}
.tool{
  margin: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon{
  margin: 5%
}
.temp{
  text-align: center;
}